* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

.container {
    position: relative;
    width: 100%;
}

/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 600px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 600px; /* only for demonstration, should be removed */
}


/* Style the footer */
footer {
    background-color: #777;
    padding: 7px;
    color: #12105d;
}

button {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 90%;
    height: 100px;
    font-size: 40px;
    color: #ffffff;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

#action {
    text-align: center;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

p {
    color: #151444;
    text-align: center;
    font-size: 50px;
}

footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

input[type=text]:focus {
    background-color: #ff00fb;
}

input[type=submit] {
    border-radius: 1px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-color: #c40902;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#lname {
    border: 2px solid red;
    padding: 0em 1em;
    border-radius: 10px;
    font-size: 25px;
    line-height: 2;
    top: 150%;
    width: 30%;
    text-align: center;
}

hr {
    border: 5px solid #4e0f73;
    border-radius: 5px;
}

#reStart_button {
    height: 100px;
    width: 100%;
    font-size: 40px;
    color: #ffffff;
}

img {
    width: 1890px;
    height: 100%;
    opacity: 0.8;
}

label {
    font-size: 40px;
    color: #12105d;
    width: 100%;
}

option {
    font-size: 40px;
    color: #12105d;
    width: 300px;
    height: auto;
}

select {
    background-color: #ff00fb;
    width: 500px;
    height: auto;
    font-size: 40px;
}